.grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 10px;

    @media (max-width: 980px) {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    @media (max-width: 820px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    @media (max-width: 420px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
